/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/a.css ***!
  \*****************************************************************/
.body {
    margin: 0;
	padding: 0;
    background: red;
}


